@charset "utf-8";

.visual_area {background: url('../img/business/bg_visual1.png') no-repeat center;}
.visual_area .title2 { position: relative;}
.visual_area .title2 span { position:absolute; left:170px; top:30px; font-size:35px; color:rgba(255,255,255,0.9); letter-spacing: -0.025em;}

.inner_img { overflow: hidden; position: absolute; top:360px; width:50%; height:588px; background:no-repeat center;}
.business_inner01 { height:1080px;}
.business_inner01 .inner_img {
    right:0;
    background-image: url('../img/business/bg_si1.png');
}
.business_inner02 { height:1080px;}
.business_inner02 .titlebox2.right { width:560px;}
.business_inner02 .inner_img {
    left:0;
    background-image: url('../img/business/bg_solution1.png');
}
.business_inner03 { height:1300px;}
.business_inner03 .inner_img {
    right:0;
    height:796px;
    background-image: url('../img/business/bg_lms1.png');
    background-size:678px auto;
}
.business_inner04 { height:910px;}
.business_inner04 .titlebox2.right { width:560px; padding-bottom:202px;}
.section.business_inner04 .titlebox2.hover .title_line { height:189px; animation: sub_title_hover2 1s; -webkit-animation: sub_title_hover2 1s;animation-direction: alternate; -webkit-animation-direction: alternate;}
        @keyframes sub_title_hover2 {
            0%   {height: 0%;opacity: 0;}
            100% {height: 189px;opacity: 1;}
        }
        @-webkit-keyframes sub_title_hover2 {
            0%   {height: 0%;opacity: 0;}
            100% {height: 189px;opacity: 1;}
        }
.business_inner04 .inner_img {
    left:0;
    top:0;
    background-image: url('../img/business/bg_iot1.png');
}
.business_inner04 .titlebox2 ul { position:absolute; left:0; bottom:0;}
.business_inner04 .titlebox2 li { position:relative; float: left; width:148px; text-align:center;}
.business_inner04 .titlebox2 li:after { content:""; position:absolute; left:0; top:3px; width:1px; height:95px; background:rgba(83,83,83,0.5);}
.business_inner04 .titlebox2 li:first-child:after { display:none;}
.business_inner04 .titlebox2 li p { padding-top:10px; line-height:21px;}


 

