@charset "utf-8";

.visual_area {background: url('../img/business/bg_visual1.png') no-repeat center;}
.visual_area .title2 { position: relative;}
.visual_area .title2 span { position:absolute; left:170px; top:30px; font-size:35px; color:rgba(255,255,255,0.9); letter-spacing: -0.025em;}

.section { height:1080px;}
.business_inner01 { height: 1080px;}
.business_inner01 .inner_img {
    position: absolute;
    top:360px;
    right:0px;
    width: 50%;
    height: 588px;
    overflow: hidden;
    background: url('../img/business/bg_si1.png') no-repeat center center;
}

.business_inner02 {height: 1080px;}



 

