@charset "utf-8";

.visual_area { position: relative; min-height:100vh;}
.visual_area .titlebox { width:50%; min-width:50%; position:static; transform: translate(0,0); -webkit-transform: translate(0,0);}
.visual_area .titlebox > div { float:right; width:679px; padding:240px 0; box-sizing:border-box;}
.visual_area dl { padding:60px 0 72px;}
.visual_area dl dt { float:left; width:16%; line-height:90px; border-bottom:1px solid rgba(255,255,255,0.05); font-size:17px; color:rgba(255,255,255,0.7);}
.visual_area dl dd { float:left; width:84%; line-height:90px; border-bottom:1px solid rgba(255,255,255,0.05); font-size:17px; color:rgba(255,255,255,0.35);}
.visual_area .btn_download { overflow: hidden; position: relative; display: inline-block; width:217px; height:68px; line-height:68px; text-align:center; background:#fff; transition:.5s cubic-bezier(0,.21,.03,1.01); -webkit-transition:.5s cubic-bezier(0,.21,.03,1.01);}
.visual_area .btn_download:before { content:""; position:absolute; left:-50px; top:0; width:100%; height:100%; background:#2099b6; transition:.5s cubic-bezier(0,.21,.03,1.01); -webkit-transition:.5s cubic-bezier(0,.21,.03,1.01); transform-origin:0 0; -webkit-transform-origin:0 0; transform:scaleX(0) skewX(25deg); -webkit-transform:scaleX(0) skewX(25deg);}
.visual_area .btn_download:hover:before,
.visual_area .btn_download:active:before { left:0; transform:scaleX(1) skewX(0deg); -webkit-transform:scaleX(1) skewX(0deg);}

.visual_area .btn_download span { position: relative; z-index:1; display:inline-block;/* padding-right:24px;*/ line-height:16px; font-size:13px; color:#1b1b1b; font-family: 'NanumBarunGothic', sans-serif; font-weight:bold; transition:.5s cubic-bezier(0,.21,.03,1.01); -webkit-transition:.5s cubic-bezier(0,.21,.03,1.01);}
.visual_area .btn_download svg { position: relative; z-index:1;}
.visual_area .btn_download svg path { fill:#1b1b1b; transition:.5s cubic-bezier(0,.21,.03,1.01); -webkit-transition:.5s cubic-bezier(0,.21,.03,1.01);}
.visual_area .btn_download:hover span,
.visual_area .btn_download:active span { color:rgba(255,255,255,0.8);}
.visual_area .btn_download:hover svg path,
.visual_area .btn_download:active svg path { fill:#fff !important;}

.map { overflow: hidden; position: fixed; right:0; top:0; width:50%; min-width:50%; height:100%; min-height:100vh;}
.map > img { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}







.mCSB_scrollTools { width:1px !important; opacity:0;}
.mCSB_inside > .mCSB_container { margin-right:0 !important;}
.simplebar-track.simplebar-horizontal { display:none;}
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail { background-color:transparent !important;}
#mCSB_1_dragger_vertical {
    min-height:200px !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color:transparent !important; border:1px solid rgba(181,181,181,0.4); box-sizing:border-box;}